@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-red: #f04f30;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-4: #999999;
    --gradient-x: linear-gradient(90deg,
        hsla(0, 100%, 50%, 0),
        hsl(210, 4%, 64%),
        hsla(0, 0%, 0%, 0));
    --body-font: "Montserrat", sans-serif;
    --branding-color: #222222;
    --padding: 16px;
    --mobile-menu-background-color: var(--color-gray-0);
    --background-blur: 8px;
    --background-blur-contrast: 50%;
    --mobile-menu-link-font-size: 1.2em
    --form-input-font-color: var(--color-gray-5);
    --menu-shadow: 0 5px 30px rgba(34, 34, 34, 0.1), 0 0 5px rgba(34, 34, 34, 0.4), 5px 5px 5px rgba(34, 34, 34, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    outline: var(--debug-all-outline);
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.label-font{
    font-size: 13pt;
}

.centerForm{
    display: flex;
    justify-content: center;
    max-height: 24rem;
}

.form{
    max-width: 27rem;
    height: 3rem;
}

body {
    font-family: var(--body-font);
    background-color: #F3F4F6;
}

a {
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: #ed6f56;
}

.links:hover{
    text-decoration: none;
    color: #ffffff;
}
.links-view{
    text-decoration: none;
    color: black;
}
.links-view:hover{
    text-decoration: none;
    color: #ed6f56;
}
header {
    margin: 0 auto;
    padding: var(--padding);
    outline: var(--debug-layout-outline);
    width: 100%;
    background-color: var(--color-red);
}

ul {
    list-style: disc;
    padding-left: 24px;
}

ol {
    list-style: none;
    counter-reset: cupcake;
    padding-left: 16px;
}

ol li {
    counter-increment: cupcake;
}

ol li:before {
    content: counters(cupcake, ".") ". ";
}

.bold {
    font-weight: 600;
}

.hidden {
    display: none;
}

.navbar1 {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1200px;
    overflow: hidden;
    min-height: 40px;
}

.navbar1 li a {
    color: var(--menu-link-color);
    display: flex;
    text-decoration: none;
    padding: 10px 16px 5px 16px;
    color: var(--color-white);
}

.nav-links li a:hover {
    color: var(--color-gray-4);
    background: none;
}

.navbar1 li .textUser {
    display: none;
}

.navbar1 li .iconUser {
    font-size: 30px;
}

.navbar1 li .textLogin {
    display: none;
}

.navbar1 li .btnLogin {
    padding: 5px 16px;
    border-radius: 6px;
    background-color: var(--color-white);
    font-size: 2;
    border: none;
    color: var(--color-red);
    font-weight: bold;
}

.navbar1 li .btnLogin:hover {
    background-color: #c7bdbd;
    color: var(--color-white);
}

.navbar1 ul li {
    font-weight: bold;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar1 .nav-links ul {
    display: flex;
}

.menu-trigger {
    z-index: 199;
    display: none;
    position: absolute;
    right: 24px;
}

.barTop, .barMiddle, .barBottom {
    width: 24px;
    height: 2px;
    background-color: var(--branding-color);
    margin: 4px 0;
    transition: 0.4s;
}

.change .barTop {
    transform: translate(0, 6px) rotate(-45deg);
}

.change .barMiddle {
    opacity: 0;
}

.change .barBottom {
    transform: translate(0, -6px) rotate(45deg);
}

#content_search{
    display: flex;
}

#search {
    height: 30px;
    max-width: 500px;
    padding-left: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
}

#search::placeholder {
    color: var(--color-red);
}

#btnSearch {
    height: 30px;
    cursor: pointer;
    width: 35px;
    background-color: var(--color-white); 
    margin-right: -5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

#btnSearch .icon-search {
    font-size: large; 
    color: var(--color-red);
}

#btnSearch:hover {
    color: var(--white-color);
}

footer {
    position: relative;
    padding: 15px;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 80px;
}

.socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    width: 100%;
}

.socials::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
}

.socials > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials > ul > li {
    padding-left: 50px;
    padding-right: 50px;
}

.socials > ul > li > a {
    color: var(--color-black);
}

.socials > ul > li > a:hover {
    color: var(--color-gray-4);
}

footer > p{
    text-align: center;
}

@media screen and (max-width: 920px) {
    .navbar1 {
        padding-top: 0px;
    }

    .navbar1 li a {
        color: var(--color-black);
    }

    .menu-trigger {
        z-index: 999;
        display: block;
        cursor: pointer;
    }

    .toggle {
        padding-top: 0;
    }    

    .navbar1 ul {
        margin: 0 auto;
        padding: 0;
    }   

    .nav-links {
        padding: 16px;
        z-index: 999;
        position: absolute;
        top: 80px;
        left: calc(100vw / 2);
        width: calc(90%);
        margin-left: -100%;
        transform: translate(-50%, 0);
        background-color: var(--color-white);
        border-radius: 15px;
        box-shadow: var(--menu-shadow);
    }

    .nav-links a {
        border-radius: 6px;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li a {
        font-size:var(--mobile-menu-link-font-size);
        padding: 16px;
        display: block;
    }

    .navbar1 ul li {
        align-items: left;
        justify-content: left;
    }

    .navbar1 li .textUser {
        display: flex;
    }
    
    .navbar1 li .iconUser {
        display: none;
    }

    .navbar1 li .textLogin {
        display: flex;
    }
    
    .navbar1 li .btnLogin {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    #search {
        margin-top: 12px;
    }

    .button, button, button[type="submit"] {
        margin: 12px 0;
        display: block;
        width: 100%;
    }

    .pre-wrapper {
        width: 100%;
    }

    .socials > ul > li{
        padding-left: 10px;
        padding-right: 10px;
    }
}


/*css del login*/


.logo-principal{
    width: 210px; 
    height: 130px;
}
.aaa {
    color: #F04F30; 
    text-decoration: none;
}

.imagen-principal {
    width: 100%; 
    height: 100%;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    opacity: 0.8; 
}




.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor-derecho {
    width: 30%;
    height: 70%;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    background-color: rgba(240, 79, 48, 0.4); 

}

.contenedor-izquierdo {
    width: 30%;
    height: 70%;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBE8E8;
}
.referencia {
    color: black; 
}


.titulo {
    font-weight: bold;
    margin-bottom: 3px;
}

.button {
    width: 50%;
    padding: 10px;
    background-color: #F04F30;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 25%;
}

.button:hover {
    background-color: #ed6f56;
}

.mensaje {
    font-size: 30px;
    font-weight: bold;
   /*font-family: Arial, sans-serif; */
    color: #F04F30;
    margin-top: 3px;
}


.formulario {
    width: 80%;
}

.formulario input[type="text"],
.formulario input[type="password"] {
    width: 70%; 
    padding: 10px;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #EBEBEB;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box; 
}


/* Consulta de medios para tablets */
@media screen and (max-width: 1200px) {
    .contenedor-derecho {
        width: 80%;  
        border-top-right-radius: 7%;
        border-bottom-right-radius: 7%;
    }
    .contenedor-izquierdo {
        width: 80%; 
        border-top-left-radius: 7%;
        border-bottom-left-radius: 7%;
       
    }
    .formulario {
        width: 100%; 
    }

    .button {
        width: 50%; 
    }
}


.inputFile{
    opacity: 0;
}

/* Consulta de medios para dispositivos móviles */
@media screen and (max-width: 800px) {
    .contenedor-derecho {
        display: none; 
    }
    .contenedor-izquierdo {
        width: 80%; 
        border-radius: 15px;
        height: auto;
    }
    .formulario {
        width: 100%; 
    }

    .button {
        width: 50%; 
    }
}

/*css de crear cuenta*/


.logo-crear1{
    display: none;
}
.logo-crear{
    width: 50%; 
    height: 25%;
}
.button_iniciarsesioncrear {
    color: black; 
    background-color: white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    padding: 5px;
}
.mensajecrear{
    display: flex;
    text-align: center;
    font-size: 17px; 
    color: white;  
}
.titulocrear1 {
    font-size: 30px; 
    color: white;  
}
.titulocrear2 {
    font-size: 30px; 
    color: white; 
}
.contenedorcrear {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor-derechocrear {
    width: 35%;
    height: 530px;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    background-color: #EBE8E8;
}
.contenedor-izquierdocrear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 530px;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    background-color: #F04F30;
    
}
.button1 {
    width: 50%;
    padding: 10px;
    background-color: #F04F30;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 25%;
    font-weight: bold;
}
.button1:hover {
    background-color: #ed6f56;
}
.formulariocrear {
    width: 90%;
}
.for{
    width: 90%; 
    padding: 10px;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #E8E6E6;
    border: none ;
    border-radius: 15px;
    box-sizing: border-box; 
    margin-bottom: 1%;
}

.titulocrear {
    font-size: 35px; 
    color: black; 
    font-weight: bold; 
    margin-top:60px; 
    margin-bottom: 20px;
    margin-left: 50px;
}
/* Media queries for responsive design */

@media (max-width: 1200px) {
    .contenedorcrear {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .contenedor-derechocrear,
    .contenedor-izquierdocrear {
        width: 60%;
        height: 530;
    }
    .contenedor-campos1,
    .contenedor-campos2 {
        width: 80%;
        margin-left: 10%;
    }
    .for {
        width: 80%; 
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (max-width: 800px) {
    .titulocrear {
        font-size: 30px; 
        color: black; 
        font-weight: bold; 
        margin-top:20px; 
        margin-bottom: 20px;
        margin-left: 25%;
    }
    .logo-crear1{
        display: inline;
        width: 30%;
        height: 20%;
        margin-top: 10px;
        margin-left: 35%;
    }
    .contenedor-izquierdocrear  {
        display: none; 
    }
    .contenedor-derechocrear {
        width: 80%;
        height: auto; 
        border-radius: 15px;
    }
    .formulariocrear {
        width: 100%; 
        
    }

    .button1 {
        width: 50%; 
        height: auto;;
    }

    .for{
        width: 70%; 
        padding: 10px;
        margin-right: 15%;
        margin-left: 15%;
        background-color: #E8E6E6;
        border: none ;
        border-radius: 15px;
        box-sizing: border-box; 
    }

}

.links{
    text-decoration: none;
    color: #ed6f56;
}

.linksSecondary{
    text-decoration: none;
    color: #ed6f56;
}

.linksSecondary:hover{
    text-decoration: none;
    color: #6e1a09;
}

.links:hover{
    text-decoration: none;
    color: #ffffff;
}

.errores{
    color: black;
    font-size: small;
    text-align: center;
}