/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --white-color: hsl(210, 32%, 99%);
  --red-color: #f04f30;
  --black-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 100%, 50%);
  --dark-color-light: hsla(210, 4%, 4%, .1);
  --white-color-light: hsla(210, 4%, 99%, .1);
  --gradient-x: linear-gradient(90deg,
              hsla(0, 100%, 50%, 0),
              hsl(210, 4%, 64%),
              hsla(0, 0%, 0%, 0));
  --gradient-y: linear-gradient(0,
              hsla(0, 0%, 0%, 0),
              hsl(210, 4%, 64%),
              hsla(0, 0%, 0%, 0));
	--light: #F9F9F9;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--blue: #3844c5;
	--light-orange: #FFE0D3;          

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

  /*========== Font weight ==========*/
  --font-medium: 100;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

i{
  color: black;
}
body {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LAYOUT ===============*/
.container {
  margin-inline-start: 5rem;
}

.main {
  padding-top: 5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-color-light);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: var(--z-fixed);
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient-x);
}

.header__container {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__toggle {
  display: flex;

  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

.header__toggle > h1 {
  font-size: 1.5rem;
  margin-right: 20px;
  color: var(--red-color);
  cursor: auto;
}

.header__logo {
  width: 70px;
}
/*search*/
form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--red-color);
	color: var(--white-color);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content_search{
  display: flex;
}

.header__container .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

/*=============== SIDEBAR ===============*/
.sidebar {
  position: fixed;
  left: -100%;
  top: var(--header-height);
  width: 280px;
  height: 100%;
  padding: 2rem 1.5rem;
  background-color: var(--dark-color-light);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: var(--z-fixed);
  transition: left .4s;
}

.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: var(--gradient-y);
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 3rem;
  height: 100%;
}

.sidebar__logo {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: .5rem;
}
.sidebar__logo > h1 {
  font-size: large;
  font-style: bold;
}

.sidebar__logo-img {
  width: 37px;
}
.sidebar__logo-text {
  width: 76px;
}

.sidebar__content {
  position: relative;
  overflow: auto;
  padding-top: 1rem;
}

.sidebar__content::-webkit-scrollbar {
  display: none;
}

.sidebar__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient-x);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
}

.sidebar__link {
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 1.5rem;
  padding: .8rem;
  border-radius: .25rem;
  transition: .3s;
}

.sidebar__link-floating {
  display: none;
}

.sidebar__link i {
  color: var(--black-color);
  font-size: 1.25rem;
}

.sidebar__link-name {
  font-weight: var(--font-medium);
  transition: color .4s;
  color: var(--black-color);
}

.sidebar__link:hover {
  background-color: var(--white-color-light);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  color: var(--r-color);
}

.sidebar__title span {
  display: block;
  position: relative;
  margin-block: 2rem 1.5rem;
  text-align: center;
  color: var(--red-color);
  font-size: var(--normal-font-size);
}

.sidebar__title span::before, 
.sidebar__title span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
}

.sidebar__title span::before {
  background: linear-gradient(90deg, 
            hsla(0, 0%, 0%, 0), 
            hsl(210, 4%, 64%));
  left: 0;
}

.sidebar__title span::after {
  background: linear-gradient(90deg, 
            hsl(210, 4%, 64%), 
            hsla(0, 0%, 0%, 0));
  right: 0;
}

.sidebar__perfil {
  width: 55px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
}

.sidebar__account {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}


.sidebar__account i {
  color: var(--red-color);
  font-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
}

/* Show sidebar */
.show-sidebar {
  left: 0;
}

/* Active link */
.active-link {
  background-color: var(--white-color-light);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
.active-link span {
  color: var(--red-color);
}
.active-link i {
  color: var(--red-color);
}

/*Dashboard Content Style*/

#main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#main .head-title .left .breadcrumb li {
  color: var(--dark);
}

#main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

#main .head-title .left .breadcrumb li a.active {
  color: var(--red-color);
  pointer-events: unset;
}
#main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--red-color);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

#main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#main .box-info li .user {
	background: var(--light-yellow);
	color: var(--yellow);
}
#main .box-info li .review {
	background: var(--light-blue);
	color: var(--blue);
}

#main .box-info li .establecimiento {
	background: var(--light-orange);
	color: var(--red-color);
}
#main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#main .box-info li .text p {
	color: var(--dark);	
}

/*Reseñas y establecimientos*/
#main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#main .table-data .head .bx {
	cursor: pointer;
}

#main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#main .table-data .order table td {
	padding: 16px 0;
}
#main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
  align-items: center;
}
#main .table-data .order table tr td .status.completed {
	background: var(--red-color);
}
#main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#main .table-data .order table tr td .status.pending {
	background: var(--blue);
}


#main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#main .table-data .todo .todo-list {
	width: 100%;
}
#main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--red-color);
}
#main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--blue);
}
#main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 480px) {
  .sidebar {
    width: 232px;
    padding-inline: 1rem;
  }
  .sidebar__account {
    flex-direction: column;
    row-gap: .5rem;
    text-align: center;
  }
  .sidebar__account i {
    margin: 0;
  }
  .header__toggle {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  .container {
    margin-inline: 0.1rem;
  }
  #titulo {
    font-size: 1.1rem; 
  }
  .ri-menu-line {
    font-size: 1.5rem; 
    margin-right: 15px;
  }
  #search {
    max-width: 180px; 
  }
  .header__container .profile img {
    display: none;
  }
  #img_es {
    display: none;
  }
  #date {
    display: none;
  }
  #UD {
    display: none;
  }
  #ubi {
    display: none;
  }
  #LN {
    display: none;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header__container {
    height: calc(var(--header-height) + 1.5rem);
  }
  .header__toggle {
    font-size: 1.5rem;
  }
  .sidebar {
    left: 0;
    top: calc(var(--header-height) + 1.5rem);
    width: 300px;
    transition: width .4s;
  }
  .sidebar__container {
    padding-bottom: 4rem;
    overflow: hidden;
  }
  .sidebar__logo {
    transition: padding .4s;
  }
  .sidebar__link {
    position: relative;
    padding-inline: 1.5rem;
    column-gap: 2rem;
  }
  .sidebar__link i {
    font-size: 1.5rem;
  }
  .sidebar__link-name {
    transition: color .4s, opacity .4s;
  }
  .sidebar__title {
    position: relative;
  }
  .sidebar__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
    opacity: 0;
  }
  .sidebar__account {
    column-gap: 1rem;
    padding-left: .5rem;
    margin-top: auto;
  }
  .sidebar__logo-text, 
  .sidebar__title, 
  .sidebar__title::after, 
  .sidebar__title span {
    transition: opacity .4s;
  }
  .sidebar__link-floating {
    display: block;
    font-size: 10px;
    width: max-content;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    transition: color .4s, opacity .4s;
    opacity: 0;
  }
  .main {
    padding-left: 300px;
    padding-top: 6rem;
    transition: padding .4s;
  }


  /* Reduce sidebar */
  .show-sidebar {
    width: 120px;
  }

  .show-sidebar .sidebar__logo {
    padding-left: 1rem;
  }

  .show-sidebar .sidebar__logo-text,
  .show-sidebar .sidebar__link-name  {
    opacity: 0;
  }

  .show-sidebar .sidebar__title span {
    opacity: 0;
    pointer-events: none;
  }

  .show-sidebar .sidebar__title::after {
    opacity: 1;
  }

  .show-sidebar .sidebar__link:hover .sidebar__link-floating {
    opacity: 1;
    color: var(--white-color);
  }
  
  .show-sidebar .main {
    padding-left: 300px;
  }

  /* Add padding main */
  .main-pd {
    padding-left: 120px;
  }
}